header{
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}   

header nav ul{
    display: flex;
} 

header nav ul li{
    list-style: none; 
    padding-left: 2rem;
}

header nav ul li a{
    color: #808080;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

header nav ul li a#activo{
    color: #333333;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #333333;
    text-decoration: underline;
}

